body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

span {
  color: #0d99ff;
}

footer {
  font-family: "Roboto", sans-serif;
  background-color: #2f303a;
  color: white;
}

.web-menu-agency {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.web-menu-agency:hover {
  color: #2196f3;
  cursor: pointer;
}

.web-menu-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.web-menu-portfolio:hover {
  color: #2196f3;
  cursor: pointer;
}

.web-menu-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.web-menu-contact:hover {
  color: #2196f3;
  cursor: pointer;
}

.web-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.web-mail:hover {
  color: #2196f3;
}

.web-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.web-tel:hover {
  color: #2196f3;
}

.web-city {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.web-mail2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.web-mail2:hover {
  color: #2196f3;
}

.web-tel2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.web-tel2:hover {
  color: #2196f3;
}

.effective-banner {
  background-color: #2f303a;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 44px;
}

.service-button {
  color: white;
  background: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.service-button:hover {
  background: white;
  color: #2196f3;
  cursor: pointer;
}

.lorem-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.ipsum-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-buttons {
  display: flex;
  justify-content: center;
}

.what-we-do {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.team-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
}

.img {
  text-align: center;
}

button {
  color: #212121;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
}

button:hover {
  color: white;
  background: #2196f3;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
  cursor: pointer;
}

.name-img {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.description-img {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

section {
  text-align: center;
}
